{% load wagtailcore_tags wagtailimages_tags %}
{% if pages %}
    <div class="index-list">
        {% for page in pages %}

            <div class="index-list-item">
              <a href="{% pageurl page %}">
                <h3 class="list-group-item-heading">{{ page.title }}</h3>
              </a>
                <div class="row">
                {% if page.specific.index_image %}
                  <div class="index-list-item-image">
                    <a href="{% pageurl page %}">
                      {% image page.specific.index_image fill-350x250 %}
                    </a>
                  </div>
                {% endif %}
                <div class="index-list-item-details">
                  {% if page.search_description %}
                      <p class="">{{ page.search_description }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
