{% load wagtailcore_tags %}

{% if ancestors %}
<div class="breadcrumbs container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">home</a></li>
      {% for ancestor in ancestors %}
        {% if forloop.last %}
          <li class="breadcrumb-item active">{{ ancestor }}</li>
        {% else %}
          <li class="breadcrumb-item"><a href="{% pageurl ancestor %}">{{ ancestor }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>
{% endif %}
