.site-footer {
  background-color: $cattail-theme-secondary-colour;
  padding-top: 50px;

  hr {
    margin: 15px 0;
  }

  a {
    color: white;
  }
}

// Styles for footer menu.
.footer-menu {
  > li > a {
    color: white;
    padding: 5px 0;
    display: block;
    text-decoration: none;
  }
  .icon {
    margin-right: 8px;
    font-size: 20px;
  }

  .footer-menu-text {
    display: inline-block;
  }
}

// Styles footer links at the very bottom.
.footer-links {
  li {
    font-size: 16px;
    @include media-breakpoint-up(sm) {
      display: inline-block;
      margin-right: 25px;
    }
  }
}
