/* =======================================================================
* HEADER MENU related styles
*
* Styles for all elements in header_menu.html
* e.g. Sign up link, free trial link
* ========================================================================*/

.header-menu {
  margin-left: 15px;

  float: right;
  position: relative;
  right: 65px;
  margin-top: 3px;

  @include media-breakpoint-up(sm) {
    right: 0;
    margin-top: 0;
  }
  @include media-breakpoint-up(md) {
    margin: 0;
  }

  ul {
    margin-bottom: 0;
    // 
    // > li > a {
    //   color: $navbar-default-link-color;
    // }
  }
}
