/* =======================================================================
* HEADER related styles
*
* Styles for all elements in header.html
* ========================================================================*/

.site-header {

  .container {
      margin-top: 15px;
      margin-bottom: 5px;
      padding-left: 0;
      padding-right: 0;

      @include media-breakpoint-up(md) {
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 25px;
      }
  }

  .logo {
    text-decoration: none;
    color: $cattail-text-color;
    display: block;
    max-height: 65px;
    margin-bottom: 15px;
    margin-left: 0;

    h1 {
      margin-left: 15px;
    }

    img {
      height:85px;
      float: left;
      padding-bottom: 15px;

      @include media-breakpoint-up(md) {
        float: none;
      }
    }
  }
}
