/* =======================================================================
* MAIN MENU related styles
*
* Styles for all elements in main_menu.html
* ========================================================================*/

.main-menu {
  padding-top: 5px;

  @include media-breakpoint-down(sm) {
    clear: both;
    padding-top: 0px;
  }

  .navbar {

    .container {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .menu-help {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .navbar-nav {
    margin-top: 15px;
    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }
  }

  .navbar-nav > li {
    @include media-breakpoint-up(lg) {
      margin-right: 10px;
    }

    > a,
    &.open > a, {
      line-height: $line-height-base;

      @include media-breakpoint-up(lg) {
        transition : border-color 0.3s ease-out;
        border-bottom: 2px solid transparent;

        &:hover,
        &:focus {
          border-bottom: 2px solid $cattail-theme-tertiary-colour;
        }
      }
    }
  }

  .menu-search {
    @include media-breakpoint-down(md) {
      padding-top: 20px;
    }
  }
}
