/* =======================================================================
* SUB MENU related styles
*
* Styles for all elements in sub_menu.html and no_dropdown_sub_menu.html
* ========================================================================*/

// Crazy nested here because we overriding Bootstrap styles.
.navbar-nav .show .dropdown-menu {

  // Styles and position dropdown on desktop.
  @include media-breakpoint-down(md) {

    margin-left: 20px;
    border-radius: 0;
    border-width: 0;
    border-top: 1px solid $cattail-theme-tertiary-colour;
    border-bottom: 1px solid $cattail-theme-tertiary-colour;
    background-color: #fff0;
    top: auto;
  }

  .dropdown-submenu {
    padding-bottom: 5px;
    padding-top: 10px;

    > .dropdown-submenu-title {
      line-height: $line-height-base;
      font-size: 1.1rem;
      font-weight: 500;
      // color: blue;
    }
  }
}

// Styles for sub menu with no dropdown.
.submenu {
  list-style: none;
  padding-left: 0;

  .submenu-link {
    display: block;
    // color: cyan;
    padding: 3px 30px 3px 50px;
  }
}
