{% load wagtailcore_tags wagtailimages_tags %}
{% if pages %}
  <div class="animal-index-list">
    {% for page in pages %}
      <div class="card animal-index-item">
        <div class="row no-gutters">
          <div class="col-md-8">
            {% if page.specific.image %}
                {% image page.specific.image fill-900x600 as img_thumb %}
                <a href="{% pageurl page %}">
                  <img src="{{ img_thumb.url }}" alt="{{ img_thumb.alt }}" class="card-img-top">
                </a>
            {% elif page.specific.index_image %}
                {% image page.specific.index_image fill-900x600 as img_thumb %}
                <a href="{% pageurl page %}">
                  <img src="{{ img_thumb.url }}" alt="{{ img_thumb.alt }}" class="card-img-top">
                </a>
            {% endif %}
          </div>
          <div class="col-md-4">
            <div class="card-body index-item-details">
              <dt>Name:</dt>
              <dd>{{ page.specific.name }}</dd>
              <dt>Sex:</dt>
              <dd>{{ page.specific.sex }}</dd>
              {% if page.specific.breed %}
              <dt>Breed:</dt>
              <dd>{{ page.specific.breed }}</dd>
              {% endif %}
              <dt>Date of birth:</dt>
              <dd>{{ page.specific.date_of_birth }}</dd>
              <hr>
              <a href="{% pageurl page %}" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
