{% extends "core/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}detail-body{% endblock %}

{% block content %}
    <div class="container animal-detail-content">
        {% if self.image %}
          <div class="animal-detail-picture">
              {% image self.image fill-1200x800 class="img-fluid" %}
          </div>
        {% endif %}
        <div class="animal-detail-information">
          <div>
            <dt>Name:</dt>
            <dd>{{ self.name }}</dd>
          </div>
          <div>
            {% if self.breed %}
            <dt>Breed:</dt>
            <dd>{{ self.breed }}</dd>
            {% endif %}
          </div>
          <div>
            <dt>Sex:</dt>
            <dd>{{ self.sex }}</dd>
          </div>
          <div>
            {% if self.colour %}
            <dt>Colour:</dt>
            <dd>{{ self.colour }}</dd>
            {% endif %}
          </div>
          <div>
            {% if self.sire %}
            <dt>Sire:</dt>
            {% if self.sire.link %}
            <dd><a href="{{ self.sire.link }}">{{ self.sire.name }}</a></dd>
            {% else %}
            <dd>{{ self.sire.name }}</dd>
            {% endif %}
            {% endif %}
          </div>
          <div>
            {% if self.dam %}
            <dt>Dam:</dt>
            {% if self.dam.link %}
            <dd><a href="{{ self.dam.link }}">{{ self.dam.name }}</a></dd>
            {% else %}
            <dd>{{ self.dam.name }}</dd>
            {% endif %}
            {% endif %}
          </div>
          <div>
            <dt>Date of birth:</dt>
            <dd>{{ self.date_of_birth }}</dd>
          </div>
        </div>

        {% if self.pedigree and self.pedigree.link or self.gallery %}
        <div class="animal-detail-links">
            {% if self.pedigree %}
            <a href="{{ self.pedigree.link }}">Pedigree</a>
            {% endif %}
            {% if self.gallery %}
            <a href="{{ self.gallery.url }}">Gallery</a>
            {% endif %}
        </div>
        {% endif %}



        {% if self.extra_info %}
            <div class="animal-detail-extra-info">
                {% include_block self.extra_info %}
            </div>
        {% endif %}
        <div class="row animal-detail-related">
            {% include "animal/includes/litters.html" with litters=self.litters only %}
        </div>
    </div>
{% endblock %}
