{% comment %}
This is the base template. Consider this the foundation of the whole site.
Ideally we want to make this as flexible as possible so that we can easily
extend it, override blocks, and inject things in across the various pages.

Anything that needs to be present in all pages, we add here. Or build as
smaller templates we can include here (including lets you insert the
content from another template into a calling template at render time).

Here we want to add as many 'blocks' as we can that make sense, as those
are the points where in other templates we can insert page specific html.

Blocks look liks this (you'll see more of them below):
{% block <block_name> %}
{% endblock %}
{% endcomment %}


{% load cache compress wagtailuserbar %}
{% load static %}
{% load menu_tags core_tags %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block analytics_tracking %}
            {% google_analytics %}
        {% endblock %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %}{% endblock %}</title>

        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

        {% block bookmark_icon %}
        {% endblock %}

        {% comment %} External stylesheets here if needed {% endcomment %}

        {% comment %} for this project we do not write any css, only scss, and we compile
           it and cache it at runtime. No need to export and save.
        {% endcomment %}
        {% compress css %}
            {% comment %} Custom stylesheets {% endcomment %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "core/css/core.scss" %}" />
            {% block extra_css %}
                {% comment %} Override this block in individual templates in order to add
                    stylesheets on a template by template basis. This allows
                    custom css to be inserted for page templates that need some
                    css that is better not kept in core.
                {% endcomment %}
            {% endblock %}
        {% endcompress %}

        {% block extra_theme_css_head %}
        {% endblock %}

        {% block extra_external_css %}
        {% endblock %}

        {% comment %} Javascript that needs to be called from head e.g. google analytics snippet and bootstrap shivs {% endcomment %}
        <script type="text/javascript">
        </script>
        {% block extra_js_head %}
        {% endblock %}

        {% block extra_html_head %}
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    {% comment %} Override this block to set custom body classes on a template by template basis {% endcomment %}
    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        <header class="site-header">
            <div class="container">
                {% block header %}
                    {% comment %}
                        Block represting the header of the page. This is here the logo
                        and company/site_name go. You can override this on pages, for
                        example if you wanted a special page type that had no header
                        section.

                        But for the most part this content will be present on all pages
                        so it makes sense to have it here, or... if you want to keep
                        the base template simple you can do an include:
                        '{% include "core/includes/header.html" %}'

                        That way the header html is in a neat template of its own
                        but present in all pages.
                    {% endcomment %}
                {% endblock %}

                {% block menu %}
                    {% main_menu %}
                {% endblock %}
            </div>
        </header>

        <main class="main-content">
            {% block breadcrumbs %}
              {% breadcrumbs %}
            {% endblock %}


            {% block page-title %}
              {% if page.show_title %}
                <div class="page-title container">
                  <h2>{{ self.title }}</h2>
                </div>
              {% endif %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </main>

        {% block footer %}
          {% comment %}
            Same again as header, we can put that html here, or do an
            include:
            '{% include "core/includes/footer.html" %}'
          {% endcomment %}
          <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {% flat_menu 'footer-menu' template='menus/footer_menu.html' %}
                    </div>
                    <div class="col-md-6">
                        {% block footer_right_col %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <hr>

            <div class="container footer-links">
                {% flat_menu 'footer-links' template='menus/footer_links.html' %}
            </div>
          </footer>
        {% endblock %}



        {# External javascript #}
        {% comment %} External javascript {% endcomment %}
        <script src="{% static "core/js/jquery-3.3.1.min.js" %}" ></script>
        <script src="{% static "core/js/holder.min.js" %}" ></script>
        <script src="{% static "core/js/bootstrap.4.1.1.min.js" %}" ></script>
        {% block extra_external_js %}
        {% endblock %}

        {% compress js %}
            {% comment %} Custom javascript {% endcomment %}
            <script src="{% static "core/js/core.js" %}"></script>

            {% block extra_js %}
              {% comment %} Override this block in individual templates in order to add
                 javascript on a template by template basis {% endcomment %}
            {% endblock %}
        {% endcompress %}

    </body>
</html>
