{% extends "core/base.html" %}

{% load wagtailcore_tags core_tags %}
{% load static %}
{% load bootstrap4 %}

{% block body_class %}form-body{% endblock %}

{% block page-title %}{% endblock %}

{% block content %}

  <div class="modular-form container">
    <div class="page-title">
      <h2>{{ self.title }}</h2>
    </div>
    <div class="form-intro">
      {% include_block self.intro %}
    </div>
    <div class="form">
        <form action="{% pageurl self %}" method="post" class="form">
            {% csrf_token %}

            {% for field in form %}
              {% if field.field|get_class == "DateTimeField" or field.field|get_class == "DateField" %}
                <div class="form-group {% if field.errors %}is-invalid{% endif %}">
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    <input type="text" class="form-control datetimepicker-input {% if field.errors %}is-invalid{% endif %}" name="{{ field.name }}" id="{{ field.auto_id }}" data-toggle="datetimepicker" data-target="#{{ field.auto_id }}"/>
                    {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error|escape }}</div>
                    {% endfor %}
                </div>
              {% else %}
                {% bootstrap_field field %} 
              {% endif %}
            {% endfor %}

            <div class="form-submit">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>
  </div>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "core/css/tempusdominus-5.0.1-bootstrap-4.min.css" %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static "core/js/moment.2.22.2.min.js" %}" ></script>
  <script src="{% static "core/js/tempusdominus-5.0.1-bootstrap-4.min.js" %}" ></script>

  {% for field in form %}
  {% if field.field|get_class == "DateTimeField" %}
      <script type="text/javascript">
          $(function () {
              $('#{{ field.auto_id }}').datetimepicker({
                    format: 'Y-M-D HH:mm'
                });
          });
      </script>
  {% elif field.field|get_class == "DateField" %}
  <script type="text/javascript">
      $(function () {
          $('#{{ field.auto_id }}').datetimepicker({
                format: 'Y-M-D'
            });
      });
  </script>
  {% endif %}
  {% endfor %}

{% endblock %}
