{% extends "core/base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}structured-body{% endblock %}

{% block content %}
    {% comment %}
    The StructuredPage type only has two fields of note:
    'title' - the page title
    'content' - a streamfield

    Title is mostly handled in the base template, but you can override it
    using the 'page-title' block.

    Streamfields are blocks of data groupings that the page is built
    out of. We want to render each of those in some sensible structure
    that is appropriate to the page.
    http://docs.wagtail.io/en/v2.1.1/topics/streamfield.html

    There are multiple ways we can template up those blocks.
    {% endcomment %}

    {% comment %}
    When the blocks are defined in code, you can specify a template file
    which will be used when used as part of the include_block tag. This
    is useful when you have multiple blocks you want to reuse around the
    site, and mostly change their behavior via CSS on the pages themselves.
    If doing it this way, you define the template as a smaller chunk, and
    then here, all you need to do is:
    {% endcomment %}
    <div class="structured-page-content">
      {% include_block self.content %}
    </div>
    {% comment %}
    A lot of blocks have default templates we can mostly use, but some
    wrapper blocks like 'PromotionBlock', 'CallToActionBlock',
    'BenefitHighlightGridBlock', or 'FeaturedCustomerBlock' will need
    templates that build the correct li/div structures.
    {% endcomment %}


    {% comment %}
    Or you can also look at the block, and deal with it directly how you want
    based on the type. We probably are better off not doing this at the
    page level template, because then we can't reuse the same blocks as
    nicely for other pages that might need them.

    'block_type' comes from the field name on the parent block (see blocks.py).

    The StructuredPage uses 'SplashStreamBlock' for its StreamField. This
    is a StreamField that can be made up of multiple different block
    types, each of which in turn then can have sub-block types. You can
    even nest them... you can have StreamFields all the way down.

    Below is an example of how we can do it, but... we probably shouldn't,
    as ideally you would build the templates for blocks in a streamfield
    from bottom up. Then at the appropriate higher layer, if you need to
    do a little bit of wrapping divs you can, but then the base templates
    do most of the work.

    Commented out as we should include content as per suggestion above.
    Leaving it as it is for example.
    {% endcomment %}

    {% comment %}
    <div class="page-content">
        {% for block in self.content %}
            {% if block.block_type == 'h2' %}
                <h2>{{ block.value }}</h2>
            {% elif block.block_type == 'h3' %}
                <h3>{{ block.value }}</h3>
            {% elif block.block_type == 'h4' %}
                <h4>{{ block.value }}</h4>
            {% elif block.block_type == 'intro' %}
                <p class='intro'>{{ block.value }}</p>
            {% else %}
                <section class="block-{{ block.block_type }}">
                    {% include_block block %}
                </section>
            {% endif %}
        {% endfor %}
    </div>
    {% endcomment %}

{% endblock %}
