{% extends "core/base.html" %}
{% load static %}
{% load core_tags %}

{% block bookmark_icon %}
  {% if settings.theme.ThemeSettings.bookmark_icon %}
    <link rel="shortcut icon" type="image/png" href="{{ settings.theme.ThemeSettings.bookmark_icon.url }}"/>
  {% endif %}
{% endblock %}


{% block extra_theme_css_head %}
  {% if settings.theme.ThemeSettings.extra_theme_css %}
    <style>
      {{ settings.theme.ThemeSettings.extra_theme_css|safe }}
    </style>
  {% endif %}
{% endblock %}

{% block extra_html_head %}
  {% if settings.theme.ThemeSettings.raw_head_html %}
    {{ settings.theme.ThemeSettings.raw_head_html|safe }}
  {% endif %}
{% endblock %}


{% block header %}
<a class="logo" href="/">
  {% if settings.theme.ThemeSettings.header_logo %}
  <img class="img-responsive" src="{{ settings.theme.ThemeSettings.header_logo.url }}" alt="null">
  <span class="sr-only">{{ request.site.site_name }}</span>
  {% else %}
  <h1 class="header-logo-title">{{request.site.site_name }}</h1>
  {% endif %}
</a>
{% endblock %}

{% block breadcrumbs %}
  {% if settings.theme.ThemeSettings.show_breadcrumbs %}
    {% breadcrumbs %}
  {% endif %}
{% endblock %}

{% block footer_right_col %}
  {% if settings.theme.ThemeSettings.raw_footer_html %}
    {{ settings.theme.ThemeSettings.raw_footer_html|safe }}
  {% endif %}
{% endblock %}
