
.animal-index-page-content {
    .animal-index-list {
      margin-top: 30px;

      .animal-index-item {
        margin-bottom: 25px;

        .card {

          .card-header {
            padding: 0.5rem 1.25rem;

            h5 {
              margin: 0px;
            }
          }

          .card-img-top {
            height: auto;
          }

        }
      }
    }
}

.animal-detail-content {

    margin-top: 15px;

    .animal-detail-picture {
      margin-bottom: 20px;
    }

    .animal-detail-information {
      margin-top: 30px;

      dt, dd {
        display: inline-block;
      }
      dt {
        margin-right: 5px;
      }
    }

    .animal-detail-links {
      margin-top: 20px;

      a {
        display: block;
        margin-right: 40px;
        font-weight: 800;
        margin-bottom: 5px;
      }
    }

    .animal-detail-extra-info {
      margin-top: 35px;
      margin-bottom: 40px;

      .container {
        padding: 0px;
      }
    }

    .animal-detail-related {
      margin-bottom: 20px;
    }

}
