body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  color: $cattail-text-color;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1 0 auto;
  }
}


h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

h4,
h5 {
  line-height: 1.3;
}

.page-title {
  margin-top: 15px;
}

.rich-text {
  ul,
  ol {
    overflow: hidden;
  }
}

.richtext-image {
  @extend .img-fluid;
  margin-top: 8px;
  margin-bottom: 8px;

  &.left {
    float: left;
    margin-right: 20px;
  }
  &.right {
    float: right;
    margin-left: 20px;
  }
  &.full-width {
    margin: 20px auto;
  }
}

.invisible-link {
  @include invisible-link;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  .title-anchor {
    visibility: visible
  }
}

.title-anchor {
  font-size: 18px;
  vertical-align: middle;
  text-decoration: none;
  visibility: hidden;

  .icon {
    padding: 12px 7px;
    padding-top: 20px;
  }
}

.breadcrumb {
  background-color: #fff0;
}
