
.gallery-index-page-content {

    .gallery-index-list {

      .gallery-index-item {

        .card {

          .card-img-top {
            height: auto;
          }

          .card-body {
            padding: 10px;

            .gallery-title {
              a, a:hover {
                text-decoration: none;
                color: $cattail-text-color;
              }
            }
          }

        }
      }
    }
}


.gallery-wrapper {

  margin-top: 25px;

  .gallery-container {

    .gallery-thumbnail-container {
      padding: 0px 5px;

      .card {
        margin-bottom: 10px !important;
      }
    }

  }

}
