.litter-index-page-content {
    .litter-index-list {
      margin-top: 30px;

      .litter-index-item {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;

        width: 100%;
        margin-bottom: 25px;

        .litter-index-title {
          padding: 10px;

          a, a:hover {
            text-decoration: none;
            color: $cattail-text-color;
          }

          h3 {
            margin-bottom: 0px;
          }
        }

        .litter-index-parents {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .litter-index-parent {
            width: 49%;
            min-width: 280px;
            flex: 1 0 49%;

            .litter-index-parent-image {
              border: 1px solid rgba(0, 0, 0, 0.125);
            }

            .parent-name {
              margin: 5px 10px;
            }
          }
        }

        .litter-index-item-body {
          padding: 10px 10px;
        }
      }
    }
}


.litter-page-content {
  .litter-page-parents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .litter-page-parent {
      width: 49%;
      min-width: 280px;
      flex: 1 0 49%;

      .litter-page-parent-image {
        border: 1px solid rgba(0, 0, 0, 0);
      }

      .parent-name {
        margin: 5px 10px;
      }
    }
  }

  .litter-page-birth-date{
    margin-top: 10px;
  }

  .litter-page-extra-info {
    .container{
      padding: 0px;
    }
  }

  .litter-page-juveniles {
    .litter-page-juveniles-header {
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .litter-page-juveniles-list {

      padding: 10px;

      .litter-page-juvenile {
        margin-bottom: 30px;

        .litter-page-juvenile-details {
          padding: 10px;

          dd, dt {
            display: inline-block;
          }
          dt {
            margin-right: 5px;
          }
        }
      }
    }

  }
}
