// Circular gradient using 3 colors.
@mixin circle-gradient-three-colors($color1, $color2, $color3) {
  background: $color1;
  background: radial-gradient(circle, $color1, $color2, $color3);
}

// Left to rigt gradient using 2 colors.
// Set up to be used as a border.
@mixin gradient-two-colors($color1, $color2, $height: 1px) {
  content: "";
  height: $height;
  display: block;
  background-image: linear-gradient(to right, $color1 0%, $color2 100%), linear-gradient(to right, $color1 0%, $color2 100%);
}

@mixin block-with-maxwidth($alignment: left) {
  max-width: 66.66667%;
  @if($alignment != left) {
    margin: 0 auto;
  }
}

@mixin invisible-link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  outline: 0;
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
}
