
.news-index-list {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.news-item {
  padding: 20px 0;
  max-width: 800px;

  .news-item-header {
    display: flex;
    flex-direction: column;

    .date {
      margin-bottom: 8px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 300;
    }
    .title {

      a {
        color: $cattail-text-color;
        padding-bottom: 2px;

        &:hover, &:focus {
          text-decoration: none;
          border-bottom: 1px dashed $cattail-text-color;
        }
      }
    }
  }

  .news-readmore-link {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid $cattail-link-color;
    float: right;

    &:hover,
    &:focus {
      background-color: $cattail-link-color;
      color: white;
    }
  }

  hr {
    margin: 0;
    padding: 0;
  }
}

.news-index-pagination {
  margin-top: 30px;
  max-width: 800px;
}

.news-article-body {
  .date {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
  }
}
