.search-view {

  .search-form {

  }

  .search-count {

  }

  .search-list {

    .search-list-item {
      margin-top: 30px;

      .row {
        margin-right: 0px;
        margin-left: 0px;

        .search-list-item-image {
          width: 20%;
          max-width: 120px;
          padding-right: 5px;
          img{
            width: 100%;
            height: auto;
          }
        }

        .search-list-item-details {
          width: 70%;
          padding-left: 5px;
        }
      }
    }
  }

}
