{% load menu_tags %}

<ul class="footer-menu list-unstyled">
{% for item in menu_items %}
  <li class="footer-menu-item">
     <a href="{{ item.href }}">
         {%if item.footer_icon %}<span class="{{ item.footer_icon }}"></span>{% endif %}
         <div class="footer-menu-text">{{ item.text }}</div>
     </a>
  </li>
{% endfor %}
</ul>
