{% load menu_tags %}

<div class="main-menu">
    <nav class="navbar navbar-expand-lg {% block menu_style_classes %}navbar-light{% endblock %}">
      <div class="container">
        <a class="navbar-brand menu-help">Main Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu-nav" aria-controls="main-menu-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-menu-nav">
          <ul class="navbar-nav mr-auto">
            {% for item in menu_items %}
              <li class="nav-item {{ item.active_class }}{% if item.has_children_in_menu %} dropdown dropdown-main{% endif %}">
              {% if item.has_children_in_menu %}
                  <a class="nav-link dropdown-toggle" href="{{ item.href }}"
                     id="ddtoggle_{{ item.link_page.pk }}" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                        {{ item.text }}
                  </a>
                  {% sub_menu item use_specific=USE_SPECIFIC_ALWAYS %}
              {% else %}
                  <a class="nav-link" href="{{ item.href }}">{{ item.text }}</a>
              {% endif %}
              </li>
            {% endfor %}
          </ul>
          {% block search %}
            <form class="menu-search form-inline my-2 my-md-0" role="search" action="/search/" method="get">
              <div class="input-group">
                <input class="form-control" type="text" name="query"  placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-secondary">
                    <span class="fas fa-search"></span>
                  </button>
                </div>
              </div>
            </form>
          {% endblock %}
        </div>
      </div>
    </nav>
</div>
