{% load menu_tags %}

{% if menu_items %}
  <ul class="submenu">
  {% for item in menu_items %}
      <li>
        <a class="submenu-link dropdown-item {{ item.active_class }}" href="{{ item.href }}">{{ item.text }}</a>
      </li>
  {% endfor %}
  </ul>
{% endif %}
