{% load menu_tags %}

{% if menu_items %}
<div class="dropdown-menu" aria-labelledby="ddtoggle_{{ parent_page.pk }}">
  {% for item in menu_items %}
    {% if item.has_children_in_menu %}
      <div class="dropdown-submenu">
        {% if item.specific.linkable %}
          <a class="dropdown-submenu-title dropdown-item {{ item.active_class }}" href="{{ item.href }}">{{ item.text }}</a>
        {% else %}
          <p class="dropdown-submenu-title dropdown-item {{ item.active_class }}">{{ item.text }}</p>
        {% endif %}

        {% sub_menu item use_specific=USE_SPECIFIC_ALWAYS template="menus/no_dropdown_sub_menu.html" %}
      </div>
    {% else %}
      <a class="dropdown-item {{ item.active_class }}" href="{{ item.href }}">
        {{ item.text }}
      </a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
