{% extends "core/base.html" %}
{% load wagtailcore_tags gallery_tags %}

{% block body_class %}gallery-index-body{% endblock %}

{% block content %}
	<div class="gallery-index-page-content container">
    {% if self.description %}
        <div class="rich-content">
            {{ self.description|richtext }}
        </div>
    {% endif %}

    {% gallery_index_listing gallery_index_page=self %}

  </div>
{% endblock %}
