{% extends "core/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags gallery_tags %}

{% block content %}
  <div class="gallery-wrapper container">

    {% if self.description %}
        <div class="rich-content">
            {{ self.description|richtext }}
        </div>
    {% endif %}

    {% include 'gallery/tags/simple_gallery.html' %}

  </div>
{% endblock %}
