{% extends "core/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}litter-body{% endblock %}

{% block content %}
  <div class="litter-page-content container">
    <div class="litter-page-parents">
      <div class="litter-page-parent">
        <div class="litter-page-parent-image">
          <a href="{% pageurl page %}">
            {% if self.sire.image %}
                {% image self.sire.image fill-900x600 class="img-fluid" %}
            {% elif self.sire.index_image %}
                {% image self.sire.index_image fill-900x600 class="img-fluid" %}
            {% endif %}
          </a>
        </div>
        <h5 class="parent-name">Sire: <a href="{{ self.sire.url }}">{{ self.sire.name }}</a></h5>
      </div>
      <div class="litter-page-parent">
        <div class="litter-page-parent-image">
          <a href="{% pageurl page %}">
            {% if self.dam.image %}
                {% image self.dam.image fill-900x600 class="img-fluid" %}
            {% elif self.dam.index_image %}
                {% image self.dam.index_image fill-900x600 class="img-fluid" %}
            {% endif %}
          </a>
        </div>
        <h5 class="parent-name">Dam: <a href="{{ self.dam.url }}">{{ self.dam.name }}</a></h5>
      </div>
    </div>

    {% if self.date_of_birth %}
    <div class="litter-page-birth-date">
      <h6>Date of birth: {{ self.date_of_birth }}</h6>
    </div>
    {% endif %}

    {% if self.pedigree and self.pedigree.link %}
    <div class="litter-page-pedigree">
        <h6><a href="{{ self.pedigree.link }}">Pedigree</a></h6>
    </div>
    {% endif %}

    {% if self.extra_info %}
    <div class="litter-page-extra-info">
      <hr>
      {% include_block self.extra_info %}
    </div>
    {% endif %}

    {% if self.juveniles.all %}
    <hr>
    <div class="litter-page-juveniles">
        <h3 class="litter-page-juveniles-header">{% block juveniles_header %}Juveniles{% endblock %}</h3>
        <div class="row litter-page-juveniles-list">
        {% for juvenile in self.juveniles.all %}
            <div class="litter-page-juvenile">
                <div class="card">
                  <div class="row no-gutters">
                    {% if juvenile.image %}
                    <div class="col-md-6 litter-page-juvenile-image">
                        {% image juvenile.image fill-900x600 as juvenile_img %}
                        {% if juvenile.detail_page %}
                        <a href="{% pageurl juvenile.detail_page %}">
                        {% endif %}
                          <img src="{{ juvenile_img.url }}" alt="{{ juvenile_img.alt }}" class="card-img-top">
                        {% if juvenile.detail_page %}
                        </a>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="col-md-6 litter-page-juvenile-image">
                      <img data-src="holder.js/900x600?auto=yes&text=No picture yet." class="card-img-top">
                    </div>
                    {% endif %}
                    <div class="col-md-6 litter-page-juvenile-details">
                        <div>
                          <dt>Name:</dt>
                          {% if juvenile.detail_page %}
                          <dd><a href="{% pageurl juvenile.detail_page %}">{{ juvenile.name }}</a></dd>
                          {% else %}
                          <dd>{{ juvenile.name }}</dd>
                          {% endif %}
                        </div>
                        <div>
                          <dt>Sex:</dt>
                          <dd>{{ juvenile.sex }}</dd>
                        </div>
                        <div>
                          <dt>Colour:</dt>
                          <dd>{{ juvenile.colour }}</dd>
                        </div>
                        <div>
                          <dt>Birth Weight:</dt>
                          <dd>{{ juvenile.birth_weight }}</dd>
                        </div>
                        <div>
                          <dt>Status:</dt>
                          <dd>{{ juvenile.status }}</dd>
                        </div>
                        {% if juvenile.gallery %}
                        <div>
                          <dt><a href="{% pageurl juvenile.gallery %}">Gallery</a></dt>
                        </div>
                        {% endif %}

                        {% if juvenile.extra_info %}
                         <hr>
                            <div class="juvenile-info">
                                {{ juvenile.extra_info|richtext }}
                            </div>
                        {% endif %}
                    </div>
                </div>
              </div>
            </div>
         {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock %}
