  {% load wagtailcore_tags wagtailimages_tags %}

{% if news_items %}
  <div class="news-index-list">
    <section class="news-list-wrapper">
      {% for news_item in news_items %}
        <article class="news-item clearfix">
            <header class="news-item-header">
              <h3 class="title">
                <a href="{% pageurl news_item %}">{{ news_item.title }}</a>
              </h3>
              <p class="date">
                {% firstof news_item.go_live_at|date news_item.first_published_at|date %}
              </p>
            </header>

            {% if news_list_style == "title_intro_link" %}
              {% if news_item.search_description %}
                <p>{{ news_item.search_description }}</p>
              {% endif %}
              <a class="btn news-readmore-link" href="{% pageurl news_item %}">Read more</a>
              <hr>
            {% elif news_list_style == "full_no_link" %}
              {% if news_item.specific.content %}
                {% include_block news_item.specific.content %}
              {% endif %}
            {% endif %}

        </article>
      {% endfor %}
    </section>

    <nav class="news-index-pagination" aria-label="navigation">
      <ul class="pagination justify-content-end">
        {% if news_items.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ news_items.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        {% endif %}
        {% if news_items.paginator.page_range|length > 1 %}
          {% for page_num in news_items.paginator.page_range %}
            <li class="page-item{% if page_num == news_items.number %} active{% endif %}"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
          {% endfor %}
        {% endif %}
        {% if news_items.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ news_items.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}
