/* =======================================================================
* BASIC BLOCK styles
*
* Base styles for all blocks NOT including page specific block styles
* ========================================================================*/

.block {
  padding-bottom: 30px;

  &.block-text {
    padding-bottom: 0;
  }

  .styled-text-wrapper {
    padding-bottom: 40px;

    &.no-spacing {
      padding-bottom: 0;
    }
  }
}
