/* =======================================================================
* TABLE BLOCK styles
*
* Styles for table block
* See table_block.html, price_table_block.html
* ========================================================================*/

.table {
  @extend .table-striped;
  margin-bottom: 0;


  th,
  td {
    text-align: center;
    border: 2px solid white;
  }

  // > thead > tr > th {
  //   border-bottom-color: $light-green;
  // }
}
