{% load wagtailcore_tags %}

{% block stream_blocks %}
  {% comment %}
    This template is used on: structured_page, it consists of all blocks.
  {% endcomment %}
  {% for block in value %}
    {% if block.block_type == 'promotion' or block.block_type == 'learn_more' or block.block_type == 'call_to_action' %}
      <section class="block block-{{ block.block_type }}">
        {% include_block block %}
      </section>
    {% elif block.block_type == 'benefit_highlight_grid' %}
      <section class="block block-{{ block.block_type }} {{ block.value.style }}">
        <div class="container">
          {% include_block block %}
        </div>
      </section>
    {% else %}
      <section class="block block-{{ block.block_type }}">
        <div class="container">
          {% include_block block %}
        </div>
      </section>
    {% endif %}
  {% endfor %}
{% endblock %}
