<div class="header-wrapper">
  <div class="header-content">
    <{{ value.style }}>
      {{ value.text }}
      <a href="#{{ value.text|slugify }}" aria-hidden="true"
         class="title-anchor" id="{{ value.text|slugify }}">
        <span class="fas fa-link"></span>
      </a>
    </{{ value.style }}>
  </div>
</div>
