{% load wagtailimages_tags core_tags %}

<div class="image-carousel-wrapper">
  {% if value.title %}
    <h3 class="image-carousel-heading">
      {{ value.title }}
      <a href="#{{ value.title|slugify }}" aria-hidden="true"
         class="title-anchor" id="{{ value.title|slugify }}">
        <span class="fas fa-link"></span>
      </a>
    </h3>
  {% endif %}

  {% if value.description %}
    <p class="image-carousel-description">{{ value.description }}</p>
  {% endif %}

  {% random_id as carousel_id %}
  <div id="carousel-{{ carousel_id }}" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for image in value.images %}
    <li data-target="#carousel-{{ carousel_id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for image in value.images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        {% if value.image_ratio == "3:2" %}
          {% image image.image fill-1200x800 as carousel_img %}
        {% else %}
          {% comment %} Default is 2:1 image ratio {% endcomment %}
          {% image image.image fill-1200x600 as carousel_img %}
        {% endif %}
        <img class="d-block w-100" src="{{ carousel_img.url }}" alt="{{ carousel_img.alt }}">
        {% if image.caption %}
        <div class="carousel-caption d-none d-md-block">
          <p>{{ image.caption }}</p>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carousel-{{ carousel_id }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-{{ carousel_id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
