{% load static wagtailimages_tags core_tags %}

<link rel="stylesheet" href="{% static 'gallery/css/baguetteBox.min.css' %}"/>

{% random_id as gallery_id %}
<div id="gallery-{{ gallery_id }}" class="gallery-container row">
  {% for img in value.images %}
    {% image img.image fill-600x500 as img_thumb %}
    {% image img.image original as img_original %}
    <div class="col-md-3 gallery-thumbnail-container">
      <div class="card mb-3 shadow-sm">
        <a href="{{ img_original.url }}">
          <img src="{{ img_thumb.url }}" alt="{{ img_thumb.alt }}" class="gallery-thumbnail card-img">
        </a>
      </div>
    </div>
  {% endfor %}
</div>

<script src="{% static 'gallery/js/baguetteBox.min.js' %}"></script>
<script type="text/javascript">
  baguetteBox.run('#gallery-{{ gallery_id }}', {
    'overlayBackgroundColor': 'rgba(0,0,0,0.9)'
  });
</script>
