<div class="table-responsive">
    <table class="table cloud-table">
        {% if table_header %}
            <thead>
            <tr>
                {% for column in table_header %}
                    <th>
                        {% if column.strip %}
                            {% if html_renderer %}
                                {{ column.strip|safe|linebreaksbr }}
                            {% else %}
                                {{ column.strip|linebreaksbr }}
                            {% endif %}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}
        <tbody>
        {% for row in data %}
            <tr>
                {% for column in row %}
                    {% if first_col_is_header and forloop.first %}
                        <th>
                            {% if column.strip %}
                                {% if html_renderer %}
                                    {{ column.strip|safe|linebreaksbr }}
                                {% else %}
                                    {{ column.strip|linebreaksbr }}
                                {% endif %}
                            {% endif %}
                        </th>
                     {% else %}
                        <td>
                            {% if column.strip %}
                                {% if html_renderer %}
                                    {{ column.strip|safe|linebreaksbr }}
                                {% else %}
                                    {{ column.strip|linebreaksbr }}
                                {% endif %}
                            {% endif %}
                        </td>
                     {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
