{% load wagtailcore_tags wagtailimages_tags %}
{% if galleries %}

    <div class="gallery-index-list row">
      {% for gallery in galleries %}
        <div class="col-md-4 gallery-index-item">
          <div class="card mb-4 shadow-sm">
            {% if gallery.specific.index_image %}
              <a href="{% pageurl gallery %}">
                {% image gallery.specific.index_image fill-900x650 class="card-img-top" %}
              </a>
            {% endif %}
            <div class="card-body">
              <div class="gallery-title">
                <a href="{% pageurl gallery %}">
                  <h5 class="card-title">{{ gallery.title }}</h5>
                </a>
              </div>
              <p class="card-text">{{ gallery.search_description }}</p>
              <a href="{% pageurl gallery %}" class="btn btn-primary">See gallery</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <nav class="gallery-index-pagination" aria-label="navigation">
      <ul class="pagination justify-content-center">
        {% if galleries.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ galleries.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        {% endif %}
        {% if galleries.paginator.page_range|length > 1 %}
          {% for page_num in galleries.paginator.page_range %}
            <li class="page-item{% if page_num == galleries.number %} active{% endif %}"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
          {% endfor %}
        {% endif %}
        {% if galleries.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ galleries.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
{% endif %}
