{% load static wagtailimages_tags gallery_tags core_tags %}

<link rel="stylesheet" href="{% static 'gallery/css/baguetteBox.min.css' %}"/>

{% random_id as gallery_id %}
<div id="gallery-{{ gallery_id }}" class="gallery-container row">
  {% for img in gallery_images %}
    {% image img fill-600x500 as img_thumb %}
    {% image img max-1800x1200 as img_link %}
    <div class="col-6 col-sm-3 gallery-thumbnail-container">
      <div class="card mb-3 shadow-sm">
        <a href="{{ img_link.url }}">
          <img src="{{ img_thumb.url }}" alt="{{ img_thumb.alt }}" class="gallery-thumbnail card-img">
        </a>
      </div>
    </div>
  {% endfor %}
</div>

{% if page.use_lightbox or use_lightbox %}
<script src="{% static 'gallery/js/baguetteBox.min.js' %}"></script>
<script type="text/javascript">
  baguetteBox.run('#gallery-{{ gallery_id }}', {
    'overlayBackgroundColor': 'rgba(0,0,0,0.9)'
  });
</script>
{% endif %}

{% if paginate %}
<nav class="gallery-pagination" aria-label="navigation">
  <ul class="pagination justify-content-center">
    {% if gallery_images.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ gallery_images.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    {% endif %}
    {% if gallery_images.paginator.page_range|length > 1 %}
      {% for page_num in gallery_images.paginator.page_range %}
        <li class="page-item{% if page_num == gallery_images.number %} active{% endif %}"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% endfor %}
    {% endif %}
    {% if gallery_images.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ gallery_images.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
