{% load wagtailcore_tags wagtailimages_tags %}
{% if pages %}
    <div class="litter-index-list">
        {% for page in pages %}
        <div class="litter-index-item">
          <div class="litter-index-title">
            <a href="{% pageurl page %}">
              <h3>{{ page.title }}</h3>
            </a>
          </div>
          <div class="litter-index-parents">
            <div class="litter-index-parent">
              <div class="litter-index-parent-image">
                <a href="{% pageurl page %}">
                  {% if page.specific.sire.image %}
                      {% image page.specific.sire.image fill-900x600 class="img-fluid" %}
                  {% elif page.specific.sire.index_image %}
                      {% image page.specific.sire.index_image fill-900x600 class="img-fluid" %}
                  {% endif %}
                </a>
              </div>
              <h5 class="parent-name">Sire: {{ page.specific.sire.name }}</h5>
            </div>
            <div class="litter-index-parent">
              <div class="litter-index-parent-image">
                <a href="{% pageurl page %}">
                  {% if page.specific.dam.image %}
                      {% image page.specific.dam.image fill-900x600 class="img-fluid" %}
                  {% elif page.specific.dam.index_image %}
                      {% image page.specific.dam.index_image fill-900x600 class="img-fluid" %}
                  {% endif %}
                </a>
              </div>
              <h5 class="parent-name">Dam: {{ page.specific.dam.name }}</h5>
            </div>
          </div>
          <div class="litter-index-item-body">
            {% if page.specific.date_of_birth %}
            <h6>Date of birth: {{ page.specific.date_of_birth }}</h6>
            {% endif %}
            {% if page.search_description %}
                <p class="">{{ page.search_description }}</p>
            {% endif %}
            <hr>
            <a href="{% pageurl page %}" class="btn btn-primary">More info</a>
          </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
