{% extends "core/base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}news-article-body{% endblock %}

{% block page-title %}
  {% if page.show_title %}
    <div class="page-title container">
      <h2>{{ self.title }}</h2>
      <p class="date">
        {% firstof page.go_live_at|date page.first_published_at|date %}
      </p>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="news-page-content">
    {% include_block self.content %}
  </div>
{% endblock %}
